@model IEnumerable<Vahid_C_Web_Proj.Models.Data.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gebruiker.Voornaam) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gebruiker.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gebruiker.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inschrijving)
            </td>
                <td>
                    @Html.DisplayFor(model => item.Gebruiker.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gebruiker.Naam)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruiker.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
