@model IEnumerable<Vahid_C_Web_Proj.Models.Data.Handboek>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kostprijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afbeelding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UitgifteDatum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kostprijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afbeelding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UitgifteDatum)
            </td>
            <td>
               
                <a asp-action="Delete" asp-route-id="@item.HandboekId">Delete</a> |
                    <a asp-action="Edit" asp-route-id="@item.HandboekId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.HandboekId">Details</a>
                    
                    
            </td>
        </tr>
}
    </tbody>
</table>
